//Colores
$color0: #4B3E4D;
$oscuro: #4B3E4D;
$color1: #1E8C93;
$frio: #1E8C93;
$color2: #DBD8A2;
$claro: #DBD8A2;
$color3: #C4AC30;
$claroMedio: #C4AC30;
$color4: #D74F33;
$acento: #D74F33;


//Tipografía
@import url(https://fonts.googleapis.com/css?family=McLaren|Open+Sans:400,300|Source+Sans+Pro:400,300);

$mcLaren: 'McLaren', cursive;
$openSans: 'Open Sans', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;
