@import 'variables';
//Elementos
body {
    background: $claro;
    box-sizing: border-box;
    color: #444;
    font-family: $openSans;
    margin: 0;
    padding: 0;
    * {
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mcLaren;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Modulos
.pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.contenedor {
    width: 90%;
    max-width: 840px;
    min-width: 280px;
}

a {
    color: $frio;
    text-decoration: none;
    &:hover {
        color: darken($frio, 5%);
    }
}

.titulo {
    color: $acento;
    text-shadow: 0 1px 0 $oscuro;
    margin: 20px 0 0;
}

.subtitulo {
    color: darken($acento, 15%);
    margin: 0 0 20px;
}

.texto {
    color: #444;
}

.seccion {
    margin: 40px 0 20px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-sitio {
    flex: 1;
    a {
        color: $claro;
        &:hover {
            color: lighten($claro, 10%);
        }
    }
}

.navegacion-principal {
    flex: 1;
    min-width: 400px;
    //    color: darken($claroMedio, 25%);
//    text-shadow: none;
    ul {
        display: flex;
        justify-content: space-between;
        a {
            color: $claro;
            &:hover {
                color: $claro;
            }
        }
    }
}

.navegacion-secundaria {
    display: flex;
    justify-content: center;
}

//Utilidades
.texto-derecha {
    text-align: right;
}

.enunciado {
    // agregar cursiva y color más tenue a los enunciados para resaltar el texto
    color: #666;
    font-style: italic;
}

//Secciones
.cabeza {
    background: rgba($claroMedio, 0.85);
    color: $claro;
    text-shadow: 0 1px 0 $oscuro;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 70px;
    box-shadow: 0 2px 0 $color0, 0 4px 0 $color1, 0 6px 0 $color2, 0 8px 0 $color3, 0 10px 0 $color4, 0 10px 2px #000;
    ;
}

.cuerpo {
    padding: 20px 0;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    line-height: 1.6;
    font-size: 16px;
}

.pie {
    padding: 20px 0;
    font-family: $sourceSans;
    display: flex;
    justify-content: center;
    height: 70px;
    color: $claro;
    background: #444;
    box-shadow: 0 -2px 0 $color4, 0 -4px 0 $color3, 0 -6px 0 $color2, 0 -8px 0 $color1, 0 -10px 0 $color0;
    ul {
        color: lighten($oscuro, 25%);
        display: flex;
        justify-content: flex-start;
        li {
            padding-right: 30px;
            &:last-of-type {
                padding: 0;
            }
            a {
                color: inherit;
                &:hover {
                    color: lighten($oscuro, 35%);
                    text-shadow: 0 0 1px $claro;
                }
            }
        }
    }
}